.Archive {
  background-color: #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.loading {
  text-align: center;
}

@-webkit-keyframes delayed-appearance {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delayed-appearance {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delayed-appearance {
  -webkit-animation: delayed-appearance 1.1s 1;
  animation: delayed-appearance 1.1s 1;
}
