.Showcase {
  display: flex;
}

.Document {
  padding: 24px;
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 5px #ddd;
}
